<div class="m-0 p-0">
    <a id="redirect_link"
       class="text-success d-block mx-auto my-0 small"
       href="{{ url('digital_blog_home') }}">
        Redirection
        <i class="fas fa-check-circle"></i>
    </a>
</div>

<script>
    setTimeout(function () {
        window.location = document.getElementById("redirect_link").getAttribute('href');
    }, 10)
</script>