<a href="{{ url('digital_blog_article', { article_id: blog_latest_article.uniqKey, article_slug: blog_latest_article.slug }) }}" class="article-aside col-12 px-2 py-2 mb-3">
    <div class="row align-items-center">
        <div class="col-lg-4 col-md-3 col-4 article-thumb">
            <img src="{{ (blog_latest_article.preview)?asset(twig_p_article_image_path ~ blog_latest_article.preview):"" }}" alt="">
        </div>
        <div class="col-lg-8 col-md-9 col-8 py-2">
            <h5 class="text-theme-primary">
                {{ blog_latest_article.title }}
            </h5>
            <span class="small text-black-50">{{ blog_latest_article.publishedAt|date("d M Y") }}</span>
        </div>
    </div>
</a>