<!-- Footer -->
<footer class="text-center text-muted" style="background-color: #fafafa">

    <!-- Section: Links  -->
    <section>
        <div class="container text-center text-md-start pt-5">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-left">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Company name
                    </h6>
                    <p>
                        Here you can use rows and columns to organize your footer content. Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 text-left">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        {{ "Catégories"|trans }}
                    </h6>
                    {% for parent_category in parent_blog_categories() %}
                        {% if parent_category.articleCategories|length != 0 %}
                            <p>
                                <a href="{{ url('digital_blog_article_by_category', { category_id: parent_category.uniqKey, category_name: parent_category.categoryName }) }}" class="text-reset">
                                    {{ parent_category.categoryName }}
                                </a>
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 text-left">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Pricing</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Settings</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Orders</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Help</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-left">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        info@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Section: Social media -->
    <section class="mb-4 py-2">
        <!-- Facebook -->
        <a
                class="btn btn-primary text-white btn-floating m-1"
                style="background-color: #3b5998;"
                href="#!"
                role="button"
        ><i class="fab fa-facebook-f"></i
            ></a>

        <!-- Twitter -->
        <a
                class="btn btn-primary text-white btn-floating m-1"
                style="background-color: #55acee;"
                href="#!"
                role="button"
        ><i class="fab fa-twitter"></i
            ></a>

        <!-- Google -->
        <a
                class="btn btn-primary text-white btn-floating m-1"
                style="background-color: #dd4b39;"
                href="#!"
                role="button"
        ><i class="fab fa-google"></i
            ></a>

        <!-- Instagram -->
        <a
                class="btn btn-primary text-white btn-floating m-1"
                style="background-color: #ac2bac;"
                href="#!"
                role="button"
        ><i class="fab fa-instagram"></i
            ></a>

        <!-- Linkedin -->
        <a
                class="btn btn-primary text-white btn-floating m-1"
                style="background-color: #0082ca;"
                href="#!"
                role="button"
        ><i class="fab fa-linkedin-in"></i
            ></a>
        <!-- Github -->
        <a
                class="btn btn-primary text-white btn-floating m-1"
                style="background-color: #333333;"
                href="#!"
                role="button"
        ><i class="fab fa-github"></i
            ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Copyright -->
    <div class="text-center p-2 small" style="background-color: rgb(222,222,222);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="#">Digital blog</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->