{% extends '@DigitalBlog/parts/base.html.twig' %}

{% block main_layout %}

    <!-- ======= Top Bar ======= -->

    {% if template_exists('digital-blog/parts/navbar-top.html') %}
        {% include 'digital-blog/parts/navbar-top.html' %}
    {% else %}
        {% include '@DigitalBlog/parts/navbar-top.html.twig' %}
    {% endif %}

    <!-- ======= Header ======= -->

    {% if template_exists('digital-blog/parts/navbar.html.twig') %}
        {% include 'digital-blog/parts/navbar.html.twig' %}
    {% else %}
        {% include '@DigitalBlog/parts/navbar.html.twig' %}
    {% endif %}

    <!-- End Header -->

    {% block before_content %}

    {% endblock before_content %}

    <div id="main" class="bg-white">
        {% block content %}

        {% endblock content %}
    </div>

    {% if template_exists('digital-blog/parts/footer-layout.html.twig') %}
        {% include 'digital-blog/parts/footer-layout.html.twig' %}
    {% else %}
        {% include '@DigitalBlog/parts/footer-layout.html.twig' %}
    {% endif %}

{% endblock %}
