<section id="hero" class="d-flex flex-column justify-content-center align-items-center"
         style="max-height: 440px;background-image: url({{ asset(twig_p_digital_blog_hero_bg??'assets-app/images/banner.jpg') }});background-position: center center">
    <div class="container pt-5 mt-5" data-aos="fade-in">
        <h1> {{ "Digital blog"|trans }} </h1>
        <h2>{{ "Découvrez toute l'actualité sur le blog digital"|trans }}</h2>
    </div>
</section>