<section id="hero" class="d-flex flex-column justify-content-center align-items-center"
         style="max-height: 400px;background-image: url({{ asset(twig_p_digital_blog_hero_bg??'assets-app/images/banner.jpg') }});background-position: center center">
    <div class="container pt-5 mt-5" data-aos="fade-in">
        <h1> {{ article.title }} </h1>
    </div>
</section>