
{% include '@DigitalBlog/assets/css/theme-settings.css.html.twig' %}

<div>
    <h3>{{ "Votre code de réinitialisation est le suivant"|trans }}</h3>
    <br>
    <div style="background-color: var(--theme-primary);">{{ author.resetPasswordCode }}</div>
</div>